Frontend/frontchontoplan/node_modules/.cache/default-development/1.pack
Frontend/frontchontoplan/node_modules/.cache/default-development/index.pack.old
Frontend/frontchontoplan/node_modules/.bin/acorn

