.container-home {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.container-home .container-left {
    width: 300px;
    height: 100%;
    background-color: #41916c;
}

.container-home .container-right {
    flex: 1;
    background-color: #f8a825;
    display: flex;
    flex-direction: column;
}

