body {
    color: white;
}

.container-home {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.container-home .container-left {
    width: 300px;
    height: 100%;
    background-color: #2D6A4F;
}

.container-home .container-right {
    flex: 1;
    background-color: #F9A826;
    display: flex;
    flex-direction: column;
}

.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
    background-color: #40916C!important;
}
